<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  
    <title>Disfraces</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />

    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./../../css/styles.css" rel="stylesheet" />
    <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/scriptDisfraces/url_difraces.js"></script>
    <script src="/js/scriptDisfraces/listar.js"></script>
    <script src="/js/scriptDisfraces/registrar.js"></script>
    <script src="/js/scriptDisfraces/editar.js"></script>
    <script src="/js/scriptDisfraces/borrar.js"></script>
    <script src="/js/scriptDisfraces/funciones.js"></script>
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">FourDH</a>

        <!--boton responsibe-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--containes para nav-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <!--elementos lista ordenada-->
            <li class="nav-item"><a class="nav-link" href="#!">Disfraces</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Agregar Disfraces</a></li>
          </ul>
        </div>
      </div>
    </nav>
 
  <!--CUERPO-->
  <div>
    <h1>Disfraces Disponibles</h1>

    <!-- en el elemento identificado con el id 'mensajes' se mostraran los mensajes
         o resultado de ejecutar la peticion
    -->
    <div id="mensajes"></div>
    <br>
    
    <button id="nuevoRegistro" onclick="activaNuevo();">Registrar Disfraz</button>
    <!--aqui se actualizara el listado -->
    <div id="listado"></div>

    <!-- Seccion para nuevos registros-->
    <div id="nuevo">
        <h3>Registrar Disfraz</h3>
        <input type="number" id="id" placeholder="id">
        <input type="text" id="name" placeholder="name">
        <input type="text" id="brand" placeholder="brand">
        <input type="number" id="model" placeholder="model">
        <input type="number" id="category" placeholder="category_id">
        <button onclick="registrar();">Guardar</button>
        <button onclick="estadoInicial();">Cancelar</button>
    </div>


    <!-- Seccion para editar registros-->
    <div id="editar">
        <h3>Editar Disfraz</h3>
        <input type="number" id="idEdit" placeholder="id">
        <input type="text" id="nameEdit" placeholder="name">
        <input type="text" id="brandEdit" placeholder="brand">
        <input type="number" id="modelEdit" placeholder="model">
        <input type="number" id="categoryEdit" placeholder="category_id">
        <button onclick="actualizar();">Guardar</button>
        <button onclick="estadoInicial();">Cancelar</button>
    </div>
    
</div>
   
  </body>
</html>
