<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  
    <title>Mensajes</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />

    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./../../css/styles.css" rel="stylesheet" />

        <!--
    <script src="js/jquery-3.6.0.min.js"></script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/scriptMensajes/url_mesajes.js"></script>
    <script src="/js/scriptMensajes/listarmensajes.js"></script>
    <script src="/js/scriptMensajes/registrarmensajes.js"></script>
    <script src="/js/scriptMensajes/editarmensajes.js"></script>
    <script src="/js/scriptMensajes/borrarmensajes.js"></script>
    <script src="/js/scriptMensajes/funcionesmensajes.js"></script>
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">FourDH</a>

        <!--boton responsibe-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--containes para nav-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <!--elementos lista ordenada-->
            <li class="nav-item"><a class="nav-link" href="#!">Mensajes</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Agregar Mensajes</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <h1>Mensajes Disponibles</h1>

      <!-- en el elemento identificado con el id 'mensajes' se mostraran los mensajes
           o resultado de ejecutar la peticion
      -->
      <div id="mensajes"></div>
      <br>
     
      
      <button id="nuevoRegistro" onclick="activaNuevo();">Registrar Mensaje</button>
      <!--aqui se actualizara el listado -->
      <div id="listado"></div>

      <!-- Seccion para nuevos registros-->
      <div id="nuevo">
          <h3>Registrar Mensaje</h3>
          <input type="number" id="id" placeholder="id">
          <br>
          <textarea id="messagetext" placeholder="messagetext" rows="4" cols="50"></textarea>
          <br>
          <button onclick="registrar();">Guardar</button>
          <button onclick="estadoInicial();">Cancelar</button>
      </div>


      <!-- Seccion para editar registros-->
      <div id="editar">
          <h3>Editar Mensaje</h3>
          <input type="number" id="idEdit" placeholder="id">
          <br>
          <textarea id="messagetextEdit" placeholder="messagetext" rows="4" cols="50"></textarea>
          <br>
          <button onclick="actualizar();">Guardar</button>
          <button onclick="estadoInicial();">Cancelar</button>
      </div>
      
  </div>
 
   
   
  </body>
</html>
