<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

  
  
    <title>Clientes</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />

    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./../../css/styles.css" rel="stylesheet" />
         <!--funcinalidades js-->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

         <script src="/js/scriptClientes/url_cliente.js"></script>
         <script src="/js/scriptClientes/listarclientes.js"></script>
         <script src="/js/scriptClientes/registrarclientes.js"></script>
         <script src="/js/scriptClientes/editarclientes.js"></script>
         <script src="/js/scriptClientes/borrarclientes.js"></script>
         <script src="/js/scriptClientes/funcionescliente.js"></script>
    <title>Clientes</title>
    

  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">FourDH</a>

        <!--boton responsibe-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--containes para nav-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <!--elementos lista nav ordenada-->
            <li class="nav-item"><a class="nav-link" href="#!">Clientes</a></li>
            <li class="nav-item"><a class="nav-link" href="./crearCliente.html">Agregar Clientes</a></li>
          </ul>
            
          </ul>
        </div>
      </div>
    </nav>
 
   
    <div>
      <h1>Clientes Disponibles</h1>

      <!-- en el elemento identificado con el id 'mensajes' se mostraran los mensajes
           o resultado de ejecutar la peticion
      -->
      <div id="mensajes"></div>
      <br>
     
     
      <!--aqui se actualizara el listado -->
      <div id="listado"></div>

      <!-- Seccion para editar registros-->
     

          <!-- Seccion para editar registros-->
          <div id="editar">
            <h3>Editar Cliente</h3>
            <input type="number" id="idEdit" placeholder="id">
            <input type="text" id="nameEdit" placeholder="name">
            <input type="text" id="emailEdit" placeholder="email">
            <input type="number" id="ageEdit" placeholder="age">
            <button onclick="actualizar();">Guardar</button>
            <button onclick="estadoInicial();">Cancelar</button>
        </div>
      
    </div>
    <!--scripts -->

     <!--permite funcionalida de botones-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  
   
  </body>
</html>
